main{
    margin-left:20px;
    margin-right:20px
}

.row1{
    margin-top:50px;
    margin-bottom:50px
}
.row2{
    margin-top:50px;
    margin-bottom:50px;
    
}

.card-ul{
    list-style-type:none;
}

.language{
    font-weight: 500;
}

.education-card{
    box-shadow: 10px 10px 15px #000000;
}

.education-card:hover{
    box-shadow: 10px 10px 15px #ffc107;
    
}

.work-cards:hover {
    box-shadow: 5px 5px 15px #ffc107;
}

#scrolling-p{
    height:200px;
    overflow: scroll;
    scrollbar-color: #ffc107 rgb(0, 0, 0);
}

.collapse{
    
    
    text-align: center;
}