* { 
  margin: 0; 
  padding: 0;
  box-sizing:border-box; 
  font-family:'Lucida Sans',;
  
}

body{
  max-width: 100%;
}

.blink {
  animation: blinker 1.5s linear infinite;
  color:#FFB21B;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}
/*////////////////////Cant hide the icon /////////'//////////*/

@media screen and (max-width:991px) {
  .blink{

  

  }
  }

#h3-about{
  margin-top: 10px;
  padding-left:20px;
}

.row{
  margin:0%;
  padding:0%;
}

#personal-objective-div{
  border: 0.1px rgb(222, 218, 218) solid ;
  border-radius: 7px;
  margin-right:20px;
  margin:0 0 0 0;
  padding:10px 10px;
  margin-bottom:10px;
}

.container-about{
  display:flex; 
  justify-content: center; 
  align-items: center;
}

.personal-card{
  height:200px;
  margin-left:20px;
  width:500px;
}

.personal-li{
font-weight:600;
margin-left:-30px;
}
#about{
display: flex; 
justify-content: center;
align-items: center;
}

#about-img{
height:312px; 
width:300px;
}

@media screen and (min-width:250px) and (max-width:610px){
  #about{
    margin-right:5px;
  }
}

.img-row > * {
padding:0%;
}

#personal-objective-div{
  box-shadow: 10px 10px 7px #000000;
}

#personal-objective-div:hover{
  box-shadow: 5px 5px 15px #ffc107;
}

.i-contact{
  margin-right:10px
}

.text-hr{
  flex: 1;
  background: #FFB21B;
  content: "";
  height: 1px;
  margin:75px;
 }


/*///////////////////////// Card personal image////////////////// */
#img-card{
  /* border: none; */
  width:600px; 
  margin-left:5px;
  box-shadow: 10px 10px 7px #000000;
}
#img-card:hover{
  box-shadow: 10px 10px 15px #ffc107;
}

/* @media screen and (min-width:250px) and (max-width:610px) {
  #about-img {
    width:100%;
  }
} */

@media screen and (max-width: 567px){
  #about-img{
    width:250px;
    height:100%;
    flex-wrap: wrap;
    justify-content: right;
  }
  
}

@media screen and (max-width: 760px){
  #about-img{
    width:600px;
    height:100%;
    flex-wrap: wrap;
    justify-content: right;
  }
  
}


/*///////////////////// This is here image text//////////////////// */
.hero-name{
  font-weight: bolder;
  font-family:'Lucida Sans Unicode';
  color:black;
  
}
.d-flex{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-description{
   font-weight:900;
   font-family:'Lucida Sans Unicode';
   color:black;
   font-size: larger;
}

@media screen and (max-width:382px) {
  .hero-name {
    font-weight:100;
    font-family:'Lucida Sans Unicode';
    color:rgb(0, 0, 0);
    font-size: x-small;
  }
}
@media screen and (max-width:382px) {
  .hero-description {
    font-weight:100;
    font-family:'Lucida Sans Unicode';
    color:rgb(0, 0, 0);
    font-size: x-small;
  }
}

@media screen and (min-width:382px) {
  .hero-description {
    font-weight:300;
    font-family:'Lucida Sans Unicode';
    color:rgb(0, 0, 0);
    font-size: x-small;
  }
}

@media screen and (min-width:582px) {
  .hero-name {
    font-weight: bolder;
    font-family:'Lucida Sans Unicode';
    color:black;
    font-size: xx-large;
}
}

@media screen and (min-width:582px) {
  .hero-description {
    font-weight:900;
    font-family:'Lucida Sans Unicode';
    color:black;
    font-size: larger;
  }
  }

  #copy-right{
    text-align: center;
     background-color: black;
  }

  .material-symbols-outlined blink{
    color:orange;
    margin-left:20px;
  }






/*////////////////////////////////////////////////////// This is hero name animation //////////////////////////////////////////////////////// */
/* .container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background:#FFB21B;
  position: relative;

  animation-name: text;
  animation-duration: 7s;
  animation-delay: -2s;
  animation-iteration-count:1;
}

.text2 {
  font-size: 25px;
  color: #FFE997;
}

@keyframes text {
  0% {
    color: black;
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
  100% {
    margin-bottom: 20px;
  }
} */
