*{
    margin:0%;
    padding:0%;
}

main{
    margin-top:100px;
}

/* //////////////////////////////  Set the row for all rows   /////////////////////////////// */
.row1{ 
    margin-top:50px;
    margin-bottom:50px
}
.row2{
    margin-top:50px;
    margin:0%; 
    margin-bottom:105px;
}

.row3{
    margin-top:50px;
    margin-bottom:50px;
}

.card-ul{
    list-style-type:none;
}

.language{
    font-weight: 500;
}

.education-card{
    box-shadow: 10px 10px 15px #000000;
}
#univarsety-name{
    font-weight: 600;
    font-size:medium;
}

#gpa{
    font-weight: 600;
    font-size:medium;
}

.education-card:hover{
    box-shadow: 10px 10px 15px #ffc107;
    
}

.work-cards:hover {
    box-shadow: 5px 5px 15px #ffc107;
}

.collapse{
    
    text-align: center;
}